
li{
    display: inline;
    padding: 10px;
    border: 1px;
    border-radius: 20px;
    list-style-type: none;
    color: red;
    
    
}
.li{
    // text-align: right;
    justify-content: right;
    display: flex;
    color: rgb(255, 153, 0) ;

   
}
h1{
    color: rgb(206, 203, 241);
    background-color: rgb(141, 114, 60);
    padding: auto;
    text-align: center;
    
}
a{
    border-radius: 50px;
    color: purple;
    margin: 4px;
    text-decoration: none;
    font-size: 30px;

}