h2{
    color: rgb(16, 10, 27);
}
h1{
    font-size: 55px;
    text-align: center;
    color:rgb(51, 23, 3);

}
h3{
    text-align: center;
    color: rgb(18, 179, 243);
    font-style: italic;
    font-size: 25px;
}