<form>
    <h1>Contact Us </h1>
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" placeholder="Enter your Name" name="uname"></td>  
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" placeholder="Enter email" name="email"></td>
        </tr>
        <tr>
            <td>Queries</td>
            <td><textarea name="question"  placeholder="Enter  your question here..."></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
   
   
    
</table>
</form>